<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Type your Email
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="forgotPassword(form)" >
      <ion-input type="text" placeholder="Enter username" expand="block" name="username" ngModel></ion-input>
      <ion-button type="submit">Proceed</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
