#logo{
    background: #3880ff;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
}

#loginForm{
    background: #ffffff;
    flex-grow: 0.50;
    justify-content: center;
    flex-shrink: 0;
    border: 0px;
}

#image{
    background: #ffffff;
    flex-grow: 0.50;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}





ion-grid{
    background-color: #3880ff; 
    height: 100%;
    width: 100%;
    display: flex; 
    flex-flow: column; 
    padding: 0px;
}

ion-row{
    width: 100%;
    padding: 0px 0px 0px 0px;
}

ion-button{
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
}

