<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row id="spinner">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row id="logo">
      <img src="../../assets/logo.png" height="100px" width="100px">
    </ion-row>
    <ion-row id="loginForm">
      <form #form="ngForm" (ngSubmit)="login(form)">
        <br>
        <ion-item>
          <!-- <ion-label position="floating">Username:</ion-label> -->
          <ion-input type="text" required name="username" placeholder="Email:" ngModel></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <!-- <ion-label position="floating">Password:</ion-label> -->
          <ion-input type="password" required name="password" placeholder="Password" ngModel></ion-input>
        </ion-item>
        <br><br>
        <div>
          <ion-button expand="block" type="submit" class="ion-no-margin" color="primary">
            Login</ion-button>
          <br>
          <ion-button expand="block" color="primary" (click)="goToNextPage()">Register</ion-button>
        </div>
        <br>
        <div style="text-decoration:underline;color:grey;text-align: center;" (click)="forgotPassword()">Forgot
          Password?</div>
      </form>
    </ion-row>
    <!-- <ion-row id="image">
      <img src="../../assets/iotalliance.jpg" height="60" width="180">
    </ion-row> -->
  </ion-grid>
</ion-content>