<ion-header>
  <ion-toolbar>
    <ion-title>Add Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="addcomp(form)">
    <ion-item>
      <ion-label>Building</ion-label>
      <ion-select required [(ngModel)]="build" (ngModelChange)="selectFloor($event)" name="Building">
        <ion-select-option *ngFor="let i of buildNames" [value]="i.Building" name="any">{{i.Building}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Floor</ion-label>
      <ion-select required [(ngModel)]="Floor" (ngModelChange)="selectLocation($event)" name="Floor">
        <ion-select-option *ngFor="let i of floorNames" [value]="i.Floor" name="any">{{i.Floor}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating">Floor</ion-label>
      <ion-input type="text" required name="Floor" ngModel></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" required name="Location" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complaint</ion-label>
      <ion-textarea required name="Complaint" ngModel></ion-textarea>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="form.invalid" color="success">
        Add Complaint</ion-button>
    </div>
  </form>
</ion-content>
