<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Complaints
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopOver($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-select [(ngModel)]="building" (ngModelChange)="buildSelect($event)" name="Building"
      placeholder="Select Building">
      <ion-select-option [value]="all" name="all">All</ion-select-option>
      <ion-select-option *ngFor="let i of buildNames" [value]="i.Building" name="any">{{i.Building}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngFor="let i of arrayData">
    <ion-card>
      <ion-card-content>
        <ion-icon *ngIf="showuser" name="close" (click)="del(i.Building,i.Floor,i.location,i.Complaint)"></ion-icon>
        <ion-col>Building:</ion-col>
        <ion-col>{{i.Building}}</ion-col>
        <br>
        <ion-col>Floor:</ion-col>
        <ion-col>{{i.Floor}}</ion-col>
        <br>
        <ion-col>Room/CB:</ion-col>
        <ion-col>{{i.location}}</ion-col>
        <br>
        <ion-col>Complaint:</ion-col>
        <ion-col>{{i.Complaint}}</ion-col>
        <br>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-icon name="close" (click)="del(i.Building,i.Floor,i.location,i.Complaint)"></ion-icon>
      <ion-row>
        <ion-col size="9" id="complaintContents">
          <ion-row>
            <ion-col size="5">Floor:</ion-col>
            <ion-col size="7">5</ion-col>
          <br>
          <ion-col size="5">Room/CB:</ion-col>
          <ion-col size="7">CB</ion-col>
          <br>
          <ion-col size="5">Complaint:</ion-col>
          <ion-col size="7">Leaking</ion-col>
          <br>
        </ion-row>
        </ion-col>

        <ion-col size="3" id="buildingName">BEL</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addcomp()">+</ion-fab-button>
  </ion-fab>
</ion-content>