ion-button{
    height: 25px;
    float: right;
}

ion-row{
    border: 1px solid greenyellow;
}

ion-col{
    border: 1px solid white;
}

ion-fab-button{
    font-size: 40px;
}

ion-icon{
    font-size: 30px;
    float: right;
}


ion-card{
    background-color: #b22222;
    border-radius: 15px;
    color: whitesmoke;
}

#buildingName{
    font-size: 30px;
    align-self: center;
}

#complaintContents{
    font-size: 15px;
}

ion-col{
    padding-left: 0px;
    padding-right: 0px;
}

#emptyPage{
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
}

ion-grid{
    height: 100%;
    width: 100%;
    display: flex; 
    flex-flow: column; 
    padding: 0px;
}