<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      Complaints
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-select [(ngModel)]="building" (ngModelChange)="buildSelect($event)" name="Building">
      <ion-select-option *ngFor="let i of buildNames" [value]="i.Building" name="any">{{i.Building}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngFor="let i of arrayData">
  <ion-card>
    <ion-card-content>
      <ion-col>Building:</ion-col><ion-col>{{i.Building}}</ion-col>
      <br>
      <ion-col>Floor:</ion-col><ion-col>{{i.Floor}}</ion-col>
      <br>
      <ion-col>Room/CB:</ion-col><ion-col>{{i.location}}</ion-col>
      <br>
      <ion-col>Complaint:</ion-col><ion-col>{{i.Complaint}}</ion-col>
      <br>
      <ion-button color="danger" vertical="bottom" horizontal="end" (click)="del(i.Building,i.Floor,i.location,i.Complaint)">Delete</ion-button>
    </ion-card-content>
  </ion-card>
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addcomp()">+</ion-fab-button>
</ion-fab>
</ion-content>
