#consumption{
  float: right;
}

// ion-toolbar{
//   --ion-toolbar-background: #0047ab;
//   --ion-toolbar-color: whitesmoke;
// }

ion-card{
  padding-top: 15px;
  height: 92px;
  border-radius: 12px;
  color: whitesmoke;
  background-color: #03a9f4;
}

ion-card-content{
  font-size: 22px;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
}