<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Buildings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopOver($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let i of arrayData">
    <ion-card (click)="openFloors(i.Building)">
      <ion-card-content>
        <ion-row>
          <ion-col size="3">
            {{i.Building}}
          </ion-col>
            <ion-col size="3" offset="6">
            {{i.total.toFixed(2)}} L
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <br>
  </div>
  <!-- <ion-card (click)="openFloors(i.Building)">
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          UB
        </ion-col>
          <ion-col size="3" offset="6">
          0.00 L
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
</ion-content>