<ion-header>
  <ion-toolbar mode="ios" color="light">
    <ion-title>
      Buildings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopOver($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <div *ngFor="let i of arrayData" >
        <ion-card (click)="openFloors(i.Building)" color="primary">
          <ion-card-header>
            {{i.Building}}
          </ion-card-header>
          <ion-card-content>
            Consumption: {{i.total.toFixed(2)}} Litres
          </ion-card-content>
        </ion-card>
    </div>
</ion-content>