<ion-header>
  <ion-toolbar>
    <ion-title>{{this.getValue}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{arrayData.Building}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart></canvas>
          </ion-card-content>
        </ion-card>

<ion-list *ngFor="let i of arrayData">
  <ion-item (click)="openTaps(i.Building,i.Floor)"><ion-col>Floor {{i.Floor}}</ion-col><ion-col>Total: {{i.total.toFixed(2)}}</ion-col></ion-item>
</ion-list>
</ion-content>
