<ion-header>
  <ion-toolbar>
    <ion-title>{{this.getValue}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>{{this.getValue}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
      <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime min="1990" max="2099"
          [dayShortNames]="customDayShortNames"
          displayFormat="HH:mm, DD MMM, YY"
          monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"
          [(ngModel)] = "manfrom"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime min="1990" max="2099"
          [dayShortNames]="customDayShortNames"
          displayFormat="HH:mm, DD MMM, YY"
          monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"
          [(ngModel)] = "manto"></ion-datetime>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="toggle()">Submit</ion-button>
  </ion-card>
<ion-list *ngFor="let i of arrayData">
  <ion-item (click)="openTaps(i.Building,i.Floor)"><ion-col>Floor {{i.Floor}}</ion-col><ion-col>Total: {{i.total.toFixed(2)}}</ion-col></ion-item>
</ion-list>
</ion-content>
